*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bg-color: #44995f;
    --text-color: #264255;
}
.flexContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
}
li {
    list-style: none;
    margin-left: 20px;
    font-size: 1.15em;
    color: var(--text-color);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
