*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.infoContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 12%;
    background-color: #44995f;
}
.imageCardContainer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 650px;
    align-items: center;
}
.cardText{
    flex-basis: 40%;
    color: white;
    font-family: open sans,sans-serif;
    line-height: 1.6em;
    margin: 50px;
    text-align: justify;
    font-size: 15.5px;
}
.cardImage{
   width: 80%;
   height: 450px;
}
.subTitleText{
    color: white;
    font-size: 40px;
    flex-basis: 15%;
    letter-spacing: 2px;
    line-height: 70px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}